body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  /* background-color: black; */
}
button {
  display: block;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: lightsalmon;
  opacity: 80%;
  border-radius: 5px;
  cursor: pointer;
}
.grey {
  background-color: grey;
  max-width: 1400px;
}
input {
  display: inline-block;
  width: 145px;
  margin: 3px;
  padding: 5px;
  font-size: 13px;
}
div {
  /* background-color:dimgrey; */
  padding: 5px;
  margin: 0 auto;
}

p {
  display: inline-block;
  width: 175px;
  font-size: 15px;
  font-weight: bold;
}
input.blue {
  background-color: lightsteelblue;
}
h1 {
  margin: 10px;
}
h2 {
  display: inline;
}

span p {
  color: darkred;
}
.color {
  background-color: royalblue;
}
.alarm {
  background-color: red;
}
.alert {
  color: red;
}

.price {
  display: inline-block;
  width: 80px;
}
